<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:usesPermissionFlags="neverForLocation" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTraining"
        tools:targetApi="31">
        <activity
            android:name=".aug8retrofit.RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".july31retrofit.JsonSecondActivity"
            android:exported="false" />
        <activity
            android:name=".july31retrofit.JsonActivity"
            android:exported="false" />
        <activity
            android:name=".july4profilefragment.ProfileFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".july3profileintent.AddProfileIntentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".july3profileintent.ProfileIntentActivity"
            android:exported="false" />
        <activity
            android:name=".june30Profile.AddProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".june30Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".june28dialogs.DialogsActivity"
            android:exported="false" />
        <activity
            android:name=".june21fragments.FragmentSecondActivity"
            android:exported="false" />
        <activity
            android:name=".cardgame.CardGameActivity"
            android:exported="false" />
        <activity
            android:name=".june21fragments.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".june20lifecycle.LifeCycleSecondActivity"
            android:exported="false" />
        <activity
            android:name=".june20lifecycle.LifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".june19intent.IntentsSecondActivity"
            android:exported="false" />
        <activity
            android:name=".june19intent.IntentsActivity"
            android:exported="false" />
        <activity
            android:name=".june16spotify.SpotifyActivity"
            android:exported="false" />
        <activity
            android:name=".june15recyclerview.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".june14patterns.BasicFormActivity"
            android:exported="false" />
        <activity
            android:name=".june14patterns.PatternsActivity"
            android:exported="false" />
        <activity
            android:name=".june9instagram.InstagramActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>